* {
    box-sizing:border-box;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: local("Montserrat-Regular");
    src: url(../fonts/Montserrat-Regular.ttf)
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: local("Montserrat-SemiBold");
    src: url(../fonts/Montserrat-SemiBold.ttf)
}
html {
    font-family: "Montserrat-Regular";
}
body {
    background-color: #ede8d7f9;
}
h1 {
    font-family: "Montserrat-SemiBold";
}
.accordion {
    margin: 0 auto;
    max-width: 35rem;
    cursor: pointer;
    
}
hr {
    border: none;
    border-top: 0.05rem solid rgb(180, 190, 224)
}
.accordion-header {
    display: flex;
    align-items: center;
    padding: 1rem;
}